#----------------------------------------------------------------------
# Flutter/Dart/Pub จัดการไฟล์ระบบและการ Build (สำคัญมาก)
#----------------------------------------------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
/build/

#----------------------------------------------------------------------
# Web, Windows, macOS, Linux (ไฟล์ชั่วคราวขณะพัฒนา)
#----------------------------------------------------------------------
.web_plugins/
/windows/flutter/ephemeral/
/macos/flutter/ephemeral/
/linux/flutter/ephemeral/

#----------------------------------------------------------------------
# Android (ไฟล์คีย์ สภาพแวดล้อม และไฟล์ที่ระบุเครื่องผู้พัฒนา)
#----------------------------------------------------------------------
/android/app/src/main/res/generated/
/android/gen/
/android/local.properties
*.jks
*.keystore
*.apk
*.aab

#----------------------------------------------------------------------
# iOS / macOS (ไฟล์ CocoaPods และสถานะแอป)
#----------------------------------------------------------------------
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/.symlinks/
.DS_Store

#----------------------------------------------------------------------
# โปรแกรมเขียนโค้ด (IDE Settings) ไม่ควรเอาขึ้นเพราะแต่ละเครื่องตั้งค่าไม่เหมือนกัน
#----------------------------------------------------------------------
# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

#----------------------------------------------------------------------
# ความลับและสภาพแวดล้อม (Environment Variables)
#----------------------------------------------------------------------
.env*